@{
  Layout = "_Layout";
}
@using RecipeBox.Models
@model RecipeBox.Models.Recipe

<h4>Add a New Recipe</h4>

@using (Html.BeginForm())
{
    @Html.Label("Recipe Name:")
    @Html.TextBoxFor(model => model.RecipeName)
    @Html.Label("Recipe Rating:")
    @Html.DropDownList("Rating")
    @Html.Label("Instructions:")
    @Html.TextBoxFor(model => model.Instructions)

    <input type="submit" value="Add new Recipe" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all Recipes", "Index")</p>