@{
  Layout = "_Layout";
}

@model Factory.Models.Recipe

<h2>Are you sure you want to delete this?</h2>

@Html.Label("Recipe Name"): @Html.DisplayFor(model => model.RecipeName)
@Html.Label("Ingredients:")
@Html.TextBoxFor(model => model.Ingredients)
@Html.Label("Instructions:")
@Html.TextBoxFor(model => model.Instructions)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
@Html.ActionLink("Back to List", "Index")