@{
  Layout = "_Layout";
}

@model Factory.Models.Recipe

<h2>Remove A Category</h2>

<h4>Remove a Category for this Recipe: @Html.DisplayFor(model => model.RecipeName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.RecipeId)

  @Html.Label("Select Category")
  @Html.DropDownList("CategoryId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>