@* @{
  Layout = "_Layout";
}

@model Factory.Models.Patient


<h4>Add a New Patient</h4>

@using (Html.BeginForm())
{
    @Html.Display("Patient Name:")
    @Html.TextBoxFor(model => model.PatientName)
    @Html.Display("Appointment Date:")
    @Html.EditorFor(model => model.AppointmentDate)

    <input type="submit" value="Add new Patient" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all Patients", "Index")</p> *@