@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Ingredient

<h2>Edit</h2>

<h4>Edit this Ingredient: @Html.DisplayFor(model => model.IngredientName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.IngredientId)

  @Html.Label("Ingredient Name:")
  @Html.TextBoxFor(model => model.IngredientName)

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>