@{
  Layout = "_Layout";
}

@model Factory.Models.Category

<h2>Edit</h2>

<h4>Edit this Category: @Html.DisplayFor(model => model.CategoryName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.CategoryId)

  @Html.LabelFor(model => model.CategoryName, "Category Name: ")
  @Html.TextBoxFor(model => model.CategoryName)

  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>