@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Engineer Details</h2>
<hr />
<h3>@Html.Label("Engineer Name:") @Html.DisplayFor(model => model.EngineerName)</h3>
<h3>@Html.Label("Engineer Status:") 
@if(Model.EngineerStatus == true)
{
  @Html.DisplayFor(model => model.EngineerStatus)<span>Actively Working On Repairs</span>
}
else
{
  @Html.DisplayFor(model => model.EngineerStatus)<span>Idle</span>
}

@if(@Model.JoinEntities.Count == 0)
{
  <p>This Engineer has no machines.</p>
}
else
{
  <h4>Machines: </h4>
  <ul>
    @foreach(var join in Model.JoinEntities)
    {
      <li>@Html.ActionLink($"{@join.Machine.MachineName}", "Details", "Machines", new { id = join.Machine.MachineId })</li>
    }
  </ul>
}

<p>@Html.ActionLink("Add a Machine", "AddMachine", new { id = Model.EngineerId })</p>

<p>@Html.ActionLink("Back to all Engineers", "Index")</p>
<p>@Html.ActionLink("Edit Engineer", "Edit", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId })</p>