@* @{
  Layout = "_Layout";
}

@model Factory.Models.Doctor

<h2>Edit</h2>

<h4>Edit this doctor: @Html.DisplayFor(model => model.DoctorName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.DoctorId)

    @Html.LabelFor(model => model.DoctorName)
    @Html.EditorFor(model => model.DoctorName)
    @Html.LabelFor(model => model.Speciality)
    @Html.EditorFor(model => model.Speciality)

    @Html.Label("Select patient")
    @Html.DropDownList("PatientId")

    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index")</p> *@